
#colour-variations {
    padding: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 140px;
    position: fixed;
    left: 0;
    top: 100px;
    z-index: 999999;
    background: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
}

#colour-variations.sleep {
    margin-left: -140px;
}

#colour-variations h3 {
    text-align: center;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #777;
    margin: 0 0 10px 0;
    padding: 0;
}

#colour-variations ul,
#colour-variations ul li {
    padding: 0;
    margin: 0;
}

#colour-variations ul {
    margin-bottom: 20px;
    float: left;
}

#colour-variations li {
    list-style: none;
    display: inline;
}

#colour-variations li a {
    width: 20px;
    height: 20px;
    position: relative;
    float: left;
    margin: 5px;
}

#colour-variations li a[data-theme="style"] {
    background: #8dc63f;
}

#colour-variations li a[data-theme="red"] {
    background: #FA5555;
}

#colour-variations li a[data-theme="turquoise"] {
    background: #27E1CE;
}

#colour-variations li a[data-theme="blue"] {
    background: #2772DB;
}

#colour-variations li a[data-theme="orange"] {
    background: #FF7844;
}

#colour-variations li a[data-theme="yellow"] {
    background: #FCDA05;
}

#colour-variations li a[data-theme="pink"] {
    background: #F64662;
}

#colour-variations li a[data-theme="purple"] {
    background: #7045FF;
}

#colour-variations a[data-layout="boxed"],
#colour-variations a[data-layout="wide"] {
    padding: 2px 0;
    width: 48%;
    border: 1px solid #ededed;
    text-align: center;
    color: #777;
    display: block;
}

#colour-variations a[data-layout="boxed"]:hover,
#colour-variations a[data-layout="wide"]:hover {
    border: 1px solid #777;
}

#colour-variations a[data-layout="boxed"] {
    float: left;
}

#colour-variations a[data-layout="wide"] {
    float: right;
}

.option-toggle {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: -30px;
    width: 30px;
    height: 30px;
    background: #8dc63f;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
}

.option-toggle i {
    top: 2px;
    position: relative;
}

.option-toggle:hover,
.option-toggle:focus,
.option-toggle:active {
    color: #fff;
    text-decoration: none;
    outline: none;
}

.btn-cta {
    white-space: nowrap;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
}

.btn-cta a {
    display: block;
    white-space: nowrap;
}

.btn-cta {
    min-width: 350px;
}

